.products_heading{
    font-size: 4vw;
    font-weight: bold;
    font-style: oblique;
    font-variant: small-caps;
    text-align: center;
    color: #9A4900;
    text-decoration: underline;
    margin-bottom: 2vw;
} 
.product_card{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    row-gap: 2vw;
}

.prod_img{
    max-width:30vw;
}
#add_cart_btn{
    background-color: #9A4900;
    color: white;
    font-weight: bold;
    font-size: 1.5vw;
}
.product_sub_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
    padding-bottom: 1.2vw;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}